* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug{
    border: 1px solid white;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(113, 116, 119);
}

li{
    color: rgb(113, 116, 119);
}

p{
    color: rgb(113, 116, 119);
}

.container-flex{
    display: flex;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-right {
    float: right;
}

.wrapper{
    height: 100vh;
    width: 100%;
}

.wrapper-content{
    width: 100%;
    height: calc(100% - 90px);
    background-color: blue;
    display: flex;
}

aside{
    width: 230px;
    background-color: black;
}

aside svg{
    width: 150px;
    margin: 20px 10px ;

}

aside .profilo a svg{
    width: 20px;
    background-color: rgb(126, 127, 128);
    padding: 1px 2px;
    border-radius: 50%;
}

aside .profilo h4{
    display: inline-block;
    vertical-align: 25px;
}



main{
    width: calc(100% - 230px);
    background-color: rgb(20, 25, 34);
}

nav.top{
    width: calc(100% - 230px);;
    height: 90px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

main .top a{
    margin-top: 25px;
    margin-right: 20px;
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    
}


.main-content{
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 0 30px;
    padding-top: 90px;
    
}

.ul-main{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;

}

.ul-main li{
    display: inline-block;
    padding: 0 15px;
    
    
}

.ul-main li a{
    
    text-transform: uppercase;
}

div.container-card {
    margin-left: -20px;
}

.card{
    width: calc(100% / 6);
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    
}

.card img{
    width: 100%;
}

.card h2{
    padding-top: 10px;
    font-size: 1.3vw;
}

.card p{
    padding-top: 5px;
    font-size: 0.8vw;
}

footer{
    height: 90px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    left: 0;
}




