* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug{
   border: 1px solid white;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(113, 116, 119);
}

h1{
    margin-top: 40px;
}

ul{
    list-style-type: none;
}
li{
    color: rgb(113, 116, 119);
}

p{
    padding-top: 10px;
    color: rgb(113, 116, 119);
}

.nav-aside ul li{
    margin-bottom: 10px;
    
}


.container-flex{
    display: flex;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-right {
    float: right;
}

.inline-block{
    display: inline-block;
}

.wrapper{
    height: 100vh;
    width: 100%;
}

.wrapper-content{
    width: 100%;
    height: calc(100% - 90px);
    background-color: blue;
    display: flex;
}

aside{
    width: 230px;
    background-color: black;
    height: 100%;
    padding-left: 20px;
}

aside svg{
    width: 150px;
    margin: 20px 0;

}

aside .profilo a i{
    width: 20px;
    color: rgb(126, 127, 128);
    
    
}

.nav-aside ul li i{
    font-size: 20px;
    margin-right: 8px;

}

.nav-aside ul li a:hover{
    color: white;
   
}


.cerca{ 
    padding-left: 4px;
}

.libreria{
    padding-left: 3px;
}

.piu{
    margin-bottom: 10px;
}

.piu h3{
    padding-top: 5px;
    margin-bottom: 5px;
}
.piu a{ 
padding: 5px  8px;
background-color:rgb(113, 116, 119);
color: black;
font-size: 20px;
}

.piu a:hover{
    background-color: white;
}
.piu span{
    vertical-align: 3px;
}



aside .profilo h4{
    display: inline-block;
}

aside .playlist{
    min-height: 215px;
    


}

.playlist ul li{
    padding: 6px 0;
}
main{
    width: calc(100% - 230px);
    background-color: rgb(20, 25, 34);
}

nav.top{
    width: calc(100% - 230px);;
    height: 90px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

main .top a{
    margin-top: 25px;
    margin-right: 20px;
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    
}


.main-content{
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 0 30px;
    padding-top: 90px;
    
}

.ul-main{
    text-align: center;
    padding-top: 15px;
}

.ul-main li{
    display: inline-block;
    padding: 0 15px;    
}


.ul-main li a:hover{
    color: white;
    
}

.ul-main li a{
    
    text-transform: uppercase;
}

div.container-card {
    margin-left: -20px;
}

.card{
    width: calc(100% / 6);
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    
}
.relative{
    position: relative;  
} 
.card img{
    width: 100%;  
}

.card h2{
    padding-top: 10px;
    font-size: 1.3vw;
}

.card p{
    padding-top: 5px;
    font-size: 0.8vw;
}

.card-c{
    margin-bottom: 30px;
}

.card-c img{
    border-radius: 50%;
}


.hoverlay::before:hover{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.5);
}

.hover-play{
    display: none;
}
.hover-play:hover{
    display: inline-block;
    position: absolute;
    top: calc(50% - 30px) ;
    left: 0;
    right: 0;   
    min-height: 60px;
    display: inline-block;
    
    
}
.hover-play i{
    font-size: 45px;
    padding: 10px 15px ;
    border: 3px solid white;
    border-radius: 50%;
 }

footer{
    height: 90px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    
}

footer .container-flex{
    justify-content: space-between;
}

.foot-con1{
    
    width: 220px;
}

.foot-con3{
    width: 220px;
    margin-top: 10px;
}
footer img{
    width: 50px;

}

footer p{
    padding-top: 0;
    font-size: 13px;
}

footer div .name-play{
    padding-left: 5px;
    vertical-align: 8px;
}

.emoticon-1{
    display: inline-block;
    padding-left: 30px;
    vertical-align: 5px;
}

.emoticon-1 i{
    display: block;
    margin-top: 5px;
    padding-right: 10px;
    color: rgb(113, 116, 119);
}

.play-bar{
    text-align: center;
    width: 33%;
}
.play-on{
    margin: 0 auto;
}

div.play{
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
}

.play a {
    padding: 10px 12px ;
    border: 3px solid white;
    border-radius: 50%;
}

.play-on a {
    margin: 0 10px;
    color: white;
   
}

.play-under{
    display: inline-block;
    margin-top: 10px;
    height: 4px;
    width: 75%;
    background-color: rgb(113, 116, 119) ;
    vertical-align: 2px;
    border-radius: 30px;
}

.container-play-under{
    height: 100%;
    width: 30%;
    border-radius: 30px;
    background-color: white;
}

.inizio{
    padding-right: 10px;
    font-size: 12px;
}

.fine{
    padding-left: 10px;
    font-size: 12px;
}

.foot-con3 i{
    margin-right: 12px;
}

.volume{
    display: inline-block;
    height: 4px;
    width: 100px;
    background-color: rgb(113, 116, 119) ;
    vertical-align: 4px;
    border-radius: 30px;
}

@media screen and (max-width: 1070px) {

    .container-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 4);
        text-align: center;
        margin-top: 30px;
        margin-left: 20px;
        
    }

    footer{
        padding:20px 10px;
    }
    .foot-con1 {
        width: 190px;
    }
    .foot-con3 {
        width: 190px;
    }
    .volume{
        width: 80px;
    }
    .play-on a {
        margin: 0 5px;
    }
    .fine{
        display: none;
    }

}

@media screen and (max-width: 660px) {

    .container-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 3);
        text-align: center;
        margin-top: 30px;
        margin-left: 20px;
        
    }

    .main-content{
        height: 100%;
        overflow-y: auto;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 90px;
        
    }

    .foot-con3 i{
        margin-right: 5px;
    }

    .emoticon-1{
        padding-left: 0px;
    }
    .emoticon-1 i{
        padding: 0px;
    }

    .volume{
        width: 60px;
    }
    .foot-con1 {
        width: 150px;
    }
    .foot-con3 {
        width: 150px;
    }
}